@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
  --font-sans: "Rubik", "sans-serif"; 
}


@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Rubik-Light.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 300;
    src: url('../assets/fonts/Rubik-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Rubik-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/Rubik-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Rubik-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    src: url('../assets/fonts/Rubik-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Rubik-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/Rubik-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/Rubik-Black.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 900;
    src: url('../assets/fonts/Rubik-BlackItalic.woff') format('woff');
}



@layer components {
  /* First Block Components */
.max-w-container {
  @apply mx-auto w-full !max-w-[1500px];
}

.section-padding {
  @apply py-[90px] sm:py-[110px] px-[8px] sm:px-[16px] md:px-[45px];
}

.section-padding-small {
  @apply py-[45px] sm:py-[90px] px-[8px] sm:px-[16px] md:px-[45px];
}

.btn-primary {
	@apply bg-purple-600 text-white font-semibold py-2 px-4 rounded cursor-pointer;
}

}
